/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Luxurious+Roman&family=Oleo+Script+Swash+Caps:wght@700&family=Playfair+Display&display=swap");
@import '~font-awesome/css/font-awesome.css';


* {
  font-family: "Playfair Display", serif;
  background-color: antiquewhite;
}

.btn{
    padding: 0px;
    
}
